.login_oueter {
    width: 360px;
  }
  .logo_outer {
    text-align: center;
  }
  .logo_outer img {
    width: 120px;
    margin-bottom: 40px;
  }
  [v-cloak] { display: none; }



  /**************************************************************************************************************/ 
  /* EDIT HYPNO APP!! */
  /**************************************************************************************************************/ 
  .hypno-range-container{
    width:100%; display:flex; flex-direction:row; height:40vh;
  }

  .hypno-range{
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .hypno-stage{
    height:100%; display: flex; flex-direction: column;
  }

  .hypno-stage > div{
    flex:1;
    border-top: 0px solid transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .stage-selected{
    animation:  glowAnimation 1s infinite alternate ;
  }

  .hypno-stage > div:hover{
    cursor: pointer;
  }

  .hypno-stage > div > div{
    height:20px; /* MUST BE SAME AS STAGE HEIGHT */
    width:3px;
    border-left: 3px solid transparent;
  }

  @keyframes glowAnimation {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.hypno-stages-container{
  width:100%;
  margin-bottom: 10px;
  padding:5px;
  display: flex;
  flex-direction: row;
}

.edit-stage-container{
  width:100%;
  margin-top: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5px;
}


.edit-stage-container > div{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border: 3px solid #F5F4F8;
}

.edit-stage-container > div > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding:10px;
}


.edit-stage-container > div > div > div{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  height: 43px;
  padding-bottom: 5px;
}




.hypno-yaxis-container{
  padding-right: 5px;
  border-right: 5px solid #cacaca90 ;
  display: flex;
  flex-direction: column;
  height:40vh;
}

.hypno-yaxis-container > div{
  flex:1; 
  align-items: flex-start;
  font-weight: bold;
}


.hypno-range-container-outer{
  display: flex;
  flex-direction: column;
  flex:1;
}

.hypno-xaxis-container{
  border-top: 5px solid #cacaca90 ;
  margin-top: -4px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hypno-xaxis-container > div{
  flex:1;
  text-align: center;
}

.hypno-title-container{
  display: flex; flex-direction: row; align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cacaca90;
}

.hypno-title{
  flex: 1;
  text-align: center;
}


.hypno-ksis-container{
  display: flex;
  flex-direction: row;
  border: 5px solid #cacaca90;
  border-right: none;
}

.hypno-ksis-container > div{
  flex:1;
  border-right: 5px solid #cacaca90;
}

.hypno-ksi-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hypno-ksi-container{
  padding:5px;
}
.hypno-ksi-container > div:last-child{
  flex:2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hypno-ksi-container > div:first-child{
  flex:1;
  align-items: center !important;
}


